/* main color for all the rows */

.row {
    background-color: #242966;
}


/* css for the navbar row only */

.headerRow {
    margin-bottom: 45px;
}


/* aligning the three navigation links */

.navigation {
    text-align: center;
}


/* css for the myName box on the navbar */

.myName {
    background-color: #080C47;
    opacity: 100%;
    padding: 20px 20px 20px 20px;
    font-size: xx-large;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: black;
}


/* main content box for all of the pictures */

.Pictures {
    height: 2000px;
}


/* title box at the top of the Pictures box */

.picTitle {
    height: 60px;
    background-color: orange;
    outline: solid green;
    text-align: center;
    color: orangered;
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* red background boxes behind the placeholder images */

.pics {
    position: relative;
    max-height: 300px;
    background-color: red;
    border: solid yellow;
}


/* aligning the small screen boxes */

.col-sm-10 {
    padding: 0px, 0px, 0px, 0px;
    margin-bottom: 30px;
}


/* setting the base background */

body {
    background-color: black;
}


/* footer */

.footerRow {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
    margin: 0;
    padding: 10px;
}