
body {
  background-image: url(./imgs/lofi.jpg);
  background-size: 100%;
}



.headerRow {
  /* box-shadow: 0 0 4pt 4pt white; */
  border-radius: 25px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #242966;
 
}

.myName {
  background-color: #080C47;
  opacity: 50%;
  opacity: 100%;
  padding: 5px 20px 5px 20px;
  font-size: 60px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: black;
  /* box-shadow: 0 0 3pt 2pt white; */
  border-radius: 25px;
}

.navigation {
  text-align: center;
}

.media-image {
  height: 40px;
  width: 40px;
}
.contact-image{
  max-height: 200px;
  margin-right: 75px;
  margin-left: 120px;

}

.nav-item {
  color: white;
  opacity: 100%;
}
#emailTag{
  color: white;
  text-align: center;
  font-size: 50px;
  background-color: black;
  opacity: 80%;
}

.button-col {
  padding: 20px 20px 20px 20px;
  font-size: xx-large;
  border-radius: 25px;
  text-align: center;
}

#about-me-btn,
#prt-btn,
#cont-btn {
  width: 130px;
  font-size: x-large;
  color: white;
  background-color: #C90CCF;
  opacity: 50%;
  border-radius: 10px;
}

#collapse-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

#collapse-abt,
#collapse-port,
#collapse-cont {
  width: 130px;
  font-size: x-large;
  color: white;
  background-color: #C90CCF;
  opacity: 80%;
  border-radius: 10px;
  margin-bottom: 100px;
}

.largeBox {
  height: fit-content;
}

.aboutMe {
  margin: 0;
  padding: 0, 0, 0, 0;
}

.about-header {
  color: white;
}

#my-picture {
  max-height: 500px;
  
}

.paragraph {
  color: white;
  background-color: rgb(73,50,130, 0.6);
  font-size: x-large;
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: black;
}

.footer-col {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #080C47;
  text-align: right;
  margin: 0;
  padding: 10px;
  color: white;
  opacity: 70%;
}

#pictures {
  height: fit-content;
  width: fit-content;
}

#pic-title {
  height: 60px;
  background-color: #080C47;
  opacity: 80%;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#port-txt {
  margin-top: 7px;
  color: white;
  font-size: xx-large;
}

.pics {
  position: relative;
  max-height: 250px;
}
.portsLogos{
  max-height: 250px;
}
.portsLinks{
  color: white;
  font-size: x-large;
  -webkit-text-stroke-width: .3px;
}

.col-sm-10 {
  padding: 0px, 0px, 0px, 0px;
  margin-bottom: 30px;
}

.contactForm {
  color: white;
}

#cont-title,
#sub-title {
  color: white;
}

#my-info {
  color: white;
  background-color: black;
  height: fit-content;
  opacity: 70%;
}

body {
  background-color: black;
}